.hamburger {
  display: block;
  float: right;
  margin-right: 20px;
}
.hamburger:hover {
  cursor: pointer;
}
.navbar {
  display: block;
}
.logo {
  margin-left: 20px;
}
.logo:hover {
  cursor: pointer;
}
h2 {
  margin-top: 20px;
}
